    /*
    Flaticon icon font: Flaticon
    Creation date: 26/05/2018 12:44
    */

    @font-face {
      font-family: "Flaticon";
      src: url("./Flaticon.eot");
      src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
      }
    }

    .fi:before {
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }

    .flaticon-chat:before {
      content: "\f100";
    }

    .flaticon-hand-pointing-upward:before {
      content: "\f101";
    }

    .flaticon-question:before {
      content: "\f102";
    }

    .flaticon-bug:before {
      content: "\f103";
    }

    $font-Flaticon-chat: "\f100";
    $font-Flaticon-hand-pointing-upward: "\f101";
    $font-Flaticon-question: "\f102";
    $font-Flaticon-bug: "\f103";